body {
  box-sizing: border-box;
}
.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  background-color: gray;
}
.box {
  flex-basis: 0;
}
.item-a {
  background-color: beige;
  flex-grow: 1;
  align-self: flex-start;
}

.item-b {
  background-color: blue;
  flex-grow: 2;
  align-self: center;
}
.item-c {
  background-color: aqua;
  flex-grow: 1;
  align-self: flex-end;
}
