* {
  border: 1px solid black;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: header;
}
.item3 {
  grid-area: header;
}
.item4 {
  grid-area: sidebar;
}
.item5 {
  grid-area: main;
}
.item6 {
  grid-area: main;
}
.item7 {
  grid-area: footer;
}
.item8 {
  grid-area: footer;
}
.item9 {
  grid-area: footer;
}
