#grid {
  display: grid;
  grid-template-columns: 200px 0.5fr;
}
.title_1 {
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
  margin-top: 200px;
  font-size: 50px;
}
body {
  margin-left: 60px;
}
h2 {
  border-top: 5px black solid;
  padding-top: 30px;
}

.body_1 {
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 50px;
}
.body_2 {
  margin-bottom: 30px;
}
.body_3 {
  margin-top: 25px;
  margin-bottom: 50px;
}
